
author{
  /* font-family: 'Lato', Verdana, Calibri, sans-serif; */
  font-family: 'Lato', Calibri, sans-serif;
  font-size: 15px;
  color: #777777;
}

papertitle {
  font-family: 'Lato', Calibri, sans-serif;
  font-weight: 700;
  color: #333333;
}

